
{% extends 'blog/base.html' %}
{% block content %}
{% if messages %}
{% for message in messages %}
<div class="alert alert-{{message.tags}}">
    {{message}}
</div>
{% endfor %}
{% endif %}

<div class="nomics-ticker-widget" data-name="Bitcoin" data-base="BTC"
 data-quote="USD"></div><script src="https://widget.nomics.com/embed.js"></script>

 <br>

{% for post in posts %}
<div class="border p-3 mb-3">
    <img class="img-fluid rounded-circle border m-2" style="width: 70px; height:70px;"
        src="{{post.author.profile.image.url}}" alt="resim ">
    <span class="text-secondary">{{post.author}} tarafından {{post.post_date|date:'d-m-Y'}} Tarihinde paylaşıldı </span>
    <h3><a class="text-dark" href="{% url 'detail' post.id %}">{{post.title}}</a></h3>
    <p>{{post.content}}</p>
</div>
{% empty %}
<div class="border p-3 mb-3">
    <h3>paylaşım bulunmamaktadır, Hesabınız varsa
        <a href="{% url 'login' %}">Giriş yapın</a>
        ilk paylaşımı siz yapın</h3>
</div>
{% endfor %}

{% include 'blog/pagination.html' with page=posts %}

{% endblock content %}